body {
    margin: 0;
}

.all-home {
    display: flex;
    flex-direction: column;
}

.container-home {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 20px 40px;
}

.home-books {
    margin: 0 20px;
}

/* @media screen and (max-width: 375px) {
    .container-home>div:not(:last-child) {
        margin-bottom: 40px;
    }
} */

@media screen and (min-width: 768px) {
    .all-home {
        margin-top: 80px;
    }

    .container-home {
        flex-direction: row;
        max-width: 704px;
        justify-content: center;
        align-items: center;
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1440px) {
    .all-home {
        flex-direction: row;
        margin-right: 24px;
        margin-left: 24px;
    }

    .container-home {
        flex-direction: column;
        max-width: 356px;
        max-height: 1032px;
        margin-right: 40px;
        margin-left: 0;
        gap: 0;
        margin-bottom: 0;
    }

    .container-home>div:not(:last-child) {
        margin-bottom: 86px;
    }

    .home-books {
        width: 100%;
    }
}